# Flutter/Dart/Pub related
.dart_tool/
.packages
pubspec.lock
.flutter-plugins-dependencies
.flutter-plugins

# Build outputs
build/
*.apk
*.ipa
*.app
*.app.dSYM
*.dSYM

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.podspec.json
ios/.symlinks/
ios/Pods/
ios/Podfile.lock

# Android
android/
android/app/.cxx/Debug/4c2a645e/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-cf991912448db2ac1dec.json
android/app/.cxx
android/.gradle/
android/app/release/
android/local.properties
android/app/build/
android/app/src/debug/
android/app/src/profile/
android/app/src/release/

# Mac
*.DS_Store

# Linux
*~

# VS Code settings
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# JetBrains project files
*.ipr
*.iws
*.idea/

# Temporary files
*.tmp
*.swp
*.swo

# Other
*.log
*.dat
*.csv
*.ts
*.jar

# Custom local files
*.env
